@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

body {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(14 16 40), rgb(31 64 76));
}
svg {
  stroke: white;
  fill: none;
  stroke-width: 2px;
  transform: translateX(0);
  overflow: visible;
}